@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

p {
  margin-bottom: 0;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-corner,
*::-webkit-scrollbar-corner {
  border-radius: "0px";
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #db444490;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #db4444;
}
